<%= panel do |p| %>
  <%= p.heading do %>
    <%= p.title 'Default panel' %>
  <% end %>
  <%= p.body do %>
    <p>Panel body</p>
  <% end %>
  <%= p.footer do %>
    Panel footer
  <% end %>
<% end %>

<%= panel context: :info, wrapper_tag: 'fieldset' do |p| %>
  <%= p.heading do %>
    <%= p.title do %>
      Panel with custom container and context
    <% end %>
  <% end %>
  <table>
    <tr>
      <td>A table instead of a body</td>
    </tr>
  </table>
  <%= p.footer 'Panel footer' %>
<% end %>
